#logo {
  vertical-align: -4px;
}

.mymarket {
  color:#f52;
}

.pageContainer{
  margin: 50px auto;
  width: 1440px;
  max-width: 1500px;
}

body {
  font-size: 18px;
  font-family: sans-serif;
  background-color: #F8FAFE;
}

.about {
  display: flex;
  margin-top: 40px;
}

h3 {
  font-size: 16px;
  font-weight: 700;
  margin-top: 40px;
}

.phoneviews {
  display: flex;
  gap: 10px;
  height: 387px;
}

.colors{
  display: flex;
  flex-direction: column;
}

.colors__header{
  margin-top: 0px;
}

.colors__list{
  display: flex;
  gap: 10px;
}

.colorsImg {
  display: flex;
  width: 80px;
  height: 80px;
  box-sizing: border-box;
  border: 1px solid darkgray;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}

.colorsImg__img {
  height: 60px;
}

.configs {
  display: flex;
  gap: 10px;
}

.configs__buttons {
  height: 39px;
  width: 92px;
  background-color: #F8FAFE;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
}

.configs__buttons:active {
  background-color: #f36223;
}

table, th, td {
  border: 1px solid black;
}

.paragraph {
  margin-top: 15px;
  margin-bottom: 15px;
}

ul {
  padding-left: 20px;
}

a:link {
  color: #018ad2;
  text-decoration: none;
}

a:hover {
  color: #c00;
}
