.mainlogo {
  display: flex;
  align-items: center;
}

.mainlogo__img {
  margin-bottom: 11px;
}

.mainlogo__red {
  color:#f52;
}

.pageContainer{
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  max-width: 1440px;
}

body {
  font-size: 18px;
  font-family: sans-serif;
  background-color: #F8FAFE;
}

.about {
  display: flex;
  margin-top: 40px;
}

h3 {
  font-size: 16px;
  font-weight: 700;
  margin-top: 40px;
}

.phoneviews {
  display: flex;
  flex-grow: 1;
  gap: 10px;
  height: 387px;
}

.colors{
  display: flex;
  flex-direction: column;
}

.colors__header{
  margin-top: 0px;
}

.colors__list{
  display: flex;
  gap: 10px;
}

.colorsImg {
  display: flex;
  width: 80px;
  height: 80px;
  box-sizing: border-box;
  border: 1px solid darkgray;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}

.colorsImg_slct {
  border: 2px solid #F36223;
}
.colorsImg:hover {
  background-color: lightgray;
}

.colorsImg__img {
  height: 60px;
}

.configs {
  display: flex;
  gap: 10px;
}

.btn {
  border-radius: 4px;
}

.configs button {
  height: 39px;
  width: 92px;
  background-color: #F8FAFE;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid darkgray;
}
.configs button:hover {
  background-color: darkgray;
}
.configs button:active {
  background-color: #f36223;
}
.configs button.btn_selected {
  border: 2px solid #F36223;
}

table, th, td {
  border: 1px solid black;
}

.paragraph {
  margin-top: 15px;
  margin-bottom: 15px;
}

ul {
  padding-left: 20px;
}

a:link {
  color: #018ad2;
  text-decoration: none;
}

a:hover {
  color: #F36223;
}
