
.reviews {
  margin-top: 61px;
  padding: 0px;
  width: 65%;
}

.container-reviews {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }

.rv-header {
  display: flex;
  margin: 0;
}

.rv-header__addReviewBtn {
    padding: 10px 20px 10px 20px;
    background-color: transparent;
    border-radius: 4px;
    border-color: darkgray;
    margin-left: auto;
  }

.rv-header__head {
  display: inline-block;
  font-size: 24px;
  font-weight: 700;
  margin: 0px;
  gap: 10px;
}

.rv-header__count {
  color: darkgray;
  font-size: 24px;
  margin-left: 10px;
}

.container-reviews__review {
  display: flex;
  gap: 16px;
  justify-content: start;
  }

.container-reviews__review img:first-child {
  border-radius: 50%;
}

.container-reviews__divider {
  margin-top: 40px;
  margin-bottom: 40px;
}